.cityName {
  margin-bottom: 0;
  font-size: 100px;
  padding-bottom: 0;
  display: inline-block;
}

.date {
  padding-left: 25px;
  font-size: 24px;
  font-weight: 200;
  color: #bdc5c9;
}

.wrong-city {
  margin-left: 100px;
  padding: 10px;
  font-size: 60px;
  background-color: brown;
}
